/*>>>>>>>>>>>>>>>>>>>>>>>>>
    
    Colour: #2a272e;#FF9F1C;#777


/* ==========================
    Basic Setup
============================*/
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    color:#2a272e;
    font-family: 'Baloo 2', cursive;
    text-rendering: optimizeLegibility;
}
li{
    list-style: none;
    display:inline-block;
}
a{
    text-decoration: none;
}

/* Header*/
header{
    background-color: #2a272e;
    width:100%;
    box-shadow: 0 4px 8px #777;
    
}
.header{
    max-width: 1400px;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
    padding:20px;
}
.header h1{
    letter-spacing: 1;
    color: #FF9F1C;
    font-size:38px;
}
.header-text{
    font-family: 'Lobster Two', cursive;
} 
li{
    border-right: 1px solid #FF9F1C;
}
.nav-menu a{
    color:#fff;
    padding: 5px 15px;
    transition: color .3s ease-in-out;
}
li:last-child{
    border:none;
}
.nav-menu a:hover{
    color:#FF9F1C;

}
/*Header Image*/
.header-img{
    max-width: 1400px;
    margin: 30px auto;

}
.header-img img{
    width:100%
}

/*Artist*/
.artist-text{
    display: flex;
    max-width: 1400px;
    margin: 50px auto;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 2px solid #777;
}
.artist{
    margin-right: 50px;
}
.artist:last-child{
    margin:0;
}
.artist-name{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.shape{
    width:16px;
    height:32px;
    background-color: #FF9F1C;
    position: relative;
    margin-right:30px;
}
.shape::before{
    content: '';
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 0;
    height:0;
    border-left: 16px solid #FF9F1C;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}
.artist-name h3{
    text-transform: uppercase;
    font-size:22px;
    font-weight:400;
}
.artist a{
    font-size: 18px;
    color:#FF9F1C
}
.artist p{
    margin-bottom: 5px;
}
.artist a:hover{
    color:#2a272e;
    transition: color .3s ease;
}
/*Artist work*/
.artist-work{
    max-width: 1400px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 30px;
}
.work-picture{
    margin: 15px auto;
    display:flex;
    justify-content:space-between;
}
.work-picture img{
    filter:grayscale(100%);
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 4px solid transparent;
}
.work-picture img:hover{
    filter:grayscale(0);
    border: 4px solid #FF9F1C;
    transform: scale(1.1);
}
.artist-work a{
    font-size: 20px;
    color:#FF9F1C;
}
.artist-work a:hover{
    color:#2a272e;
    transition: all .3s ease-in-out;
}
/*Footer*/
footer{
    background-color: #2a272e;
    color:#fff;
    
}
footer div{
    max-width: 1400px;
    margin:auto;
}
footer div p{
    font-size:18px;
    font-weight: 300;
    padding:20px;
}
/*Top*/
.top{
    position: fixed;
    right:5%;
    bottom:5%;
    display: block;
    background-color: #FF9F1C;
    color:#fff;
    padding: 20px;
    border-radius:5%;
    text-shadow: 2px 2px 1px #777;
}
.top:hover{
    background-color: #2a272e;
    border-radius: 50%;
    transition: all .3s linear;
}
@media (min-width:200px) and (max-width:700px){
  
} 
